*{
    margin: 0px;
}
body{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,238,238,1) 100%);
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
}
nav{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: black;
}
footer {
	padding: 0.7rem;
	clear: both;
	color: #fff;
	text-align: center;
	background-color: black;
	position: relative;
}
#nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
#nav-links a{
    color: #f4f4f2;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}
#nav-links li{
    list-style: none;
}
#logo a{
    color: #f4f4f2;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold; 
}
hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-size: 31px;
}
header{
    height: 10%;
    display: block;
}
#Title{
    margin: auto;
    height: 100px;
    font-size: 30px;
    margin: 50px;
}
#title, h1{
    text-align: center;
}

#Fname{
    margin: 8px;
    width: 20%;
    text-align: left;
    float: left;
    margin: auto;
    margin-left: 170px;
    margin-top: 40px;
}
#Fname img{
    border: 2px solid black;
}
#Fname p {
    margin-top: 0%;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
#Fname h2{
    margin-top: 3%;
    font-size: 30px;
}
#Fbio {
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: right;
    text-align: left;
    margin-right: 170px;
    margin-top: 25px;
    padding: 10px;
    font-size: 22px;
}
#Fsample img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#Fsample p{
    text-align: center;
    width: 80%;
    margin: auto;
}
#Jname{
    margin: 8px;
    width: 20%;
    text-align: center;
    float: right;
    margin: auto;
    margin-right: 170px;
    margin-top: 40px;
}
#Jname img{
    border: 2px solid black;
}
#Jname p {
    margin-top: 0%;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
#Jname h2{
    margin-top: 3%;
    font-size: 35px;
}
#Jbio{
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: left;
    text-align: left;
    margin-left: 170px;
    font-size: 21px;
    margin-top: 35px;
}
#Jsample img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#Jsample p{
    text-align: left;
    width: 80%;
    margin-left: 170px;
}
#Pname{
    margin: 8px;
    width: 20%;
    text-align: left;
    float: left;
    margin: auto;
    margin-left: 170px;
    margin-top: 40px;
}
#Pname img{
    border: 2px solid black;
}
#Pname p {
    margin-top: 0%;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
#Pname h2{
    margin-top: 3%;
    font-size: 30px;
    text-align: center;
}
#Pbio {
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: right;
    text-align: left;
    margin-right: 170px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}
#Psample img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#Psample p{
    text-align: center;
    width: 80%;
    margin: auto;
}
#Abio{
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: left;
    text-align: left;
    margin-left: 170px;
    font-size: 21px;
    margin-top: 55px;
}
#Bbio {
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: right;
    text-align: left;
    margin-right: 170px;
    margin-top: 10px;
    padding: 20x;
    font-size: 22px;
}
#Ibio{
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: left;
    text-align: left;
    margin-left: 170px;
    font-size: 23px;
    margin-top: 55px;
}
#Cbio {
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: right;
    text-align: left;
    margin-right: 170px;
    margin-top: 10px;
    padding: 20x;
    font-size: 25px;
}
#Vbio{
    margin: 8px;
    text-indent: 30px;
    width: 50%;
    float: left;
    text-align: left;
    margin-left: 170px;
    font-size: 20px;
    margin-top: 40px;
}
#Vname{
    margin: 8px;
    width: 20%;
    text-align: center;
    float: right;
    margin: auto;
    margin-right: 170px;
    margin-top: 60px;

}
#Vname p {
    margin-top: 0%;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
#all {
    box-shadow: 0 0 10px black;
}